.row
  .large-12.columns
    %h2 Blog Archives
    - grouped_articles.each do |yearmonth, articles_this_month|
      %h2 #{Time.local(yearmonth.first, yearmonth.last).strftime('%Y %B')}
      - articles_this_month.each do |article|
        %h3
          %a{href: article.path}
            = article[:title]
          \- #{article[:created_at].strftime('%B %d, %Y %l:%M %p %Z')}
