.row
  .large-12.columns
    %article
      %h1
        %a{href: @item.path}
          = @item[:title]
      %h6
        = @item[:created_at].strftime('%B %d, %Y %l:%M %p %Z')
      = find_and_preserve @content
